/* Custom Stylesheet */
/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */

.banner-card {
    background-color:rgba(45,45,45,0.8);
    border-radius:5px;
}

.default_color{
    background-color: #2D2D2D !important;
    transition: 0.2s ease-out;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.no-opacity {
    opacity: 0;
    cursor: default;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.color_transparent{
    background-color: transparent;
}

.default_color_text{color: #00ACE7 !important}

.icon-block {
    padding: 0 15px;
}

#intro, #work, #team {padding-top: 4rem;}


#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: white;
}

h1 {
    line-height:60%;
}

.pictframe {
    width:130px;
    height:130px;
    border-radius:100%;
    margin: 0.82rem 0 0.656rem 0;
    display:inline-block;
    box-shadow: 0 1px 5px 0 #cfcfcf;
    background-color:#f5f5f5;
}

.pictframe.small {
    width:80px;
    height:80px;
    border-radius:15%;
}

.grayscale {
    width:auto;
    height:150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    margin-left:20px;
    margin-right:20px;
}

.grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.quote-bg {
    background-image: url(../img/parallax1.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quote-wp {
    position: relative;
    width: 35%;
    margin-left: 18%;
    padding-top: 4%;
}

.quote {
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.2em;
    color:white;
}

.hilbert {
    margin-top: 50%;
    font-size: 1.5em;
    color: white;
    width: 170px;
    text-align: center;
    background-color: rgba(45, 45, 45, 0.7);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}

.hilbert:hover {
    background-color: rgba(45, 45, 45, 1);
}

.pictframe.smoke {
    background-color:whitesmoke;
}

.picture {
    height: 105px;
    position:relative;
    top:12px;
}

.picture.small {
    height: 74px;
    top:4px;
}

.arrow.picture {
    /*top: 15px;*/
    left: 4px;
}

.theory {
    margin-left:5%;
    margin-right:5%;
    padding-left:10%;
    padding-right:10%;
    background-color:white;
    min-width:200px;
    box-shadow: 0 1px 5px 0 #cfcfcf;
    border-radius:5px;
}

.theory-icon {
    width:110px;
    height:110px;
    border-radius:5%;
    margin: 2rem 0 0.656rem 0;
    display:inline-block;
    background-color:white;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size:3em;
}

paper-button {
    background-color: #00ACE7;
    font-size:0.4em;
    color: white;
}

.paper-button-0 {
    background-color: #00ACE7;
    font-size:0.4em;
    color: white;
}

.access-button-content {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    min-width: 5.14em;
    margin: 0 0.29em;
    background: transparent;
    text-align: center;
    font: inherit;
    text-transform: uppercase;
    outline-width: 0;
    border-radius: 3px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    padding: 0.7em 0.57em;
}

#contact-button {
    background-color: #00ACE7;
    font-size:1em;
    color: white;
}

#knowmore {
    background-color: transparent;
    font-size:0.3em;
    color: #00ACE7;
}

red-text {
    color: #00ACE7;
}

#knowmore-little {
    background-color: white;
    font-size:1.0em;
    color: #00ACE7;
}

#nav_f{
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 3.0em;
    font-weight: 100;
    color:#2D2D2D;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #2196F3;}

.text_b{
    color: rgba(17, 17, 17, 0.85);
    font-weight:100;
}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}

.maxheight {
    min-height:80px;
}

titillium {
    font-family: 'Roboto', sans-serif;
}

.promo-caption {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.card-content a {color: #2196F3;}

.card-content a:hover {color: #2196F3;}

#work, #team{background: rgba(238, 238, 238, 0.29);}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

nav ul li:hover, nav ul li.active {
    background-color: rgba(0,172,231,0.35);
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #2196F3;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 650px) {
/*    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    } */
}

.button-nav {
    display: inherit;
}

.theory-wrapper {

}

/*
@media screen and (max-width: 600px) {
    .button-nav {
	display: inherit;
    }

    .theory-wrapper {
	display: inherit;
	width: 33%;
    }
}
*/

@media screen and (max-width: 600px) {
    .button-nav {
	display: none;
    }

    .row .theory-wrapper.col.s4 {
	display: block;
	width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .container .youtube-wrapper {
	display: initial;
    }
}

@media only screen and (max-width: 600px) {
    .headline .logic-fr {
	line-height: 2;
    }
}

.youtube-wrapper {
    display: none;
}

.logic-fr {
    font-weight: 400;
    line-height: 1.6em;
}

.logic-en {
    font-weight: 400;
    margin-top: 30px;
    line-height: 1.6em;
}

.develop-en {
}

.reasoning-en {
    margin-top: 30px;
    line-height: 1.6em;
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 600px;
}

footer.page-footer {
    margin-top: 0px !important;
}

.anchor-intro {
}

.access-button {
}

.access-button-content {
    position: relative;
    top: -11px;
    font-size: 1rem;
    height: 64px;
    border-radius: 0;
}

.background-img {
    position: fixed;
    top: 15px;
    left: 35px;
    z-index: 1;
    width: 170px;
}

.nav-wrapper {
    text-align: right;
    overflow: hidden;
}

.nav-wrapper-2 {
    text-align: right;
}

.used_by {
    color: #A7A7A7;
    font-size:19px;
}

.coq-container {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

.coq-wrapper {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    margin: 0 auto;
    text-align: center;
}

.coq-content {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.coq-text {
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.coq-img {
    vertical-align: -56%;
    width: 100px;
}

.coq-link {
    color: red;
}


.coq-container-section {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

.coq-wrapper-section {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    margin: 0 auto;
    text-align: center;
}

.coq-content-section {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.coq-text-section {
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.coq-img-section {
    vertical-align: -56%;
    width: 100px;
}

.coq-link-section {
    color: red;
}

.ref-up7 {
    height: 300px;
    vertical-align: -50px;
    margin-left: 50px;
    margin-right: 50px;
}

.aref {
    vertical-align: middle;
}

.ref-epita {
    height: 300px;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
}

.ref-universite-montpellier {
    height: 300px;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
}

.ref-epita .grayscale {
    height: 220px;
}

.ref-universite-montpellier .grayscale {
    height: 250px;
}

.ref-universite-aix-marseille {
    vertical-align: 50px;
}

.ref-universite-franche-conte {
    vertical-align: 50px;
}

.ref-polytech-marseille {
    margin-left: 50px;
    vertical-align: 50px;
}

.legal-container {
    display: block;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.legal-copyright {
    display: inline-block;
    position: relative;
    color: white;
}

.legal-link {
    display: inline-block;
    position: relative;
    color: white;
    -moz-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    cursor: pointer;
}

.legal-link:hover {
    color: #00ace7;
    text-decoration: underline;
}

.body-extern {
    background-color: #2d2d2d;
    color: white;
}

.body-extern #form {
    display: none;
}

.legal-page {
    padding-bottom: 100px;
    margin-left: 250px;
}

.legal-container {

}

.legal-h1 {
    font-size: 32px;
    margin-bottom: 60px;
}

.legal-h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.legal-p {

}

.header-standalone {
    display: block;
    background-color: #2d2d2d;
    color: white;
}

.header-standalone-container {
    display: block;
    height: 100px;
}
