/*
 * @site       : www.edukera.fr
 * @author     : Jérémie Maquet - www.jmaquet.fr
 */

/* ----------------------------- */
/* ==reset                       */
/* ----------------------------- **/

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
	font-size: 62.5%;
}
body {
	background-color: rgba(255,255,255,1);
	color: rgba(255,255,255,1);
	font-family: helvetica, arial, sans-serif;
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
	min-width: 1024px !important;
	width: 100%;
	overflow:hidden;
}

/* font-sizing for content */
/* preserves vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5;
	margin: .75em 0 0;
}
/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 0em;
	list-style:none;
}
ul.unstyled {
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
code,
pre,
samp,
kbd {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
	line-height: 1em;
}
code, kbd, mark {
	border-radius: 2px;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
i,
b {
	font-style: normal;
	font-weight: normal;
}
kbd {
	padding: 0 2px;
	border: 1px solid #999;
}
code {
	padding: 2px 4px;
	background: rgba(0,0,0,.04);
	color: #b11;
}
mark {
	padding:2px 4px;
	background: #ff0;
}
sup,
sub {
	vertical-align: 0;
	position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* scripts */
body > script {display: none !important;}

/* ----------------------------- */
/* ==layout and modules          */
/* ----------------------------- */

/* switching box model for all elements */
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* ----------------------------- */
/* ==forms                       */
/* ----------------------------- */
form,
fieldset {
	border: none;
}
input,
button,
select,
label,
.btn {
	vertical-align: middle !important; /* @bugfix alignment */
	font-family: inherit;
	display: inline-block;
}
button{
	background: none;
	border: none;
	padding: 0;
}
textarea {
	resize: vertical;
	font-family: inherit;
	font-size: inherit;
}

/* ----------------------------- */
/* ==fallback old ie + noscript */
/* ----------------------------- */

html.ie7 #ie-box,
html.ie8 #ie-box{
	display: block;
}
#ie-box{
	display: none;
}
html.ie7 body,
html.ie8 body
{
	background-color: transparent;
}
#ie-box a,
noscript a{
	width: 480px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -280px;
	color: #000 !important;
	margin-top: -50px;
	background-color: #FFF;
	z-index: 100;
	padding: 40px;
	text-align: center;
	border: 10px solid #0ca7e0;
}
#ie-box h3,
noscript h3{
	font-size: 115%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}
#ie-box p,
noscript p{
	font-family: Arial, Helvetica, sans-serif
}
#ie-box div,
noscript div{
	background: url(../img/ie-noscript-bg.jpg) no-repeat 50% 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
}

/* ----------------------------- */
/* ==iefix */
/* ----------------------------- */

.ie8-visible{
	display: none;
}

.ie8 .ie8-visible{
	display: block!important;
}

/* hasLayout for IE6/IE7 */
.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
	zoom: 1;
}

/* inline-block and table-cell for IE6/IE7 */
/* warning: .col needs a width on IE6/IE7 */
.ie67 .btn,
.ie67 .col,
.ie67 .inbl {
	display: inline;
	zoom: 1;
}
.ie8 img {
	width: auto; /* @bugfix for IE8 */
}

/* Active box-sizing for IE6/IE7 */
/* @source https://github.com/Schepp/box-sizing-polyfill */
/*
.ie67 * {
	behavior: url(/js/boxsizing.htc);
}
*/

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
	html,
	body {
		-webkit-text-size-adjust: 100%;
	}
}

/* ----------------------------- */
/* ==Fonts */
/* ----------------------------- */

/* FONT :: DROID SANS */
@font-face {
    font-family: 'droidsans';
    src: url('../fonts/droidsans/droidsans-webfont.eot');
    src: url('../fonts/droidsans/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans/droidsans-webfont.woff') format('woff'),
         url('../fonts/droidsans/droidsans-webfont.ttf') format('truetype'),
         url('../fonts/droidsans/droidsans-webfont.svg#webfontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FONT :: DROID SANS BOLD */
@font-face {
    font-family: 'droidsans-bold';
    src: url('../fonts/droidsans/droidsans-bold-webfont.eot');
    src: url('../fonts/droidsans/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans/droidsans-bold-webfont.woff') format('woff'),
         url('../fonts/droidsans/droidsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/droidsans/droidsans-bold-webfont.svg#webfontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FONT :: GEOMETRIC SLAB SERFB MEDIUM ITALIC */
@font-face {
    font-family: 'geoslb712_md_btmedium_italic';
    src: url('../fonts/geometricslabserif/geometricslabserif-medium-italic-webfont-webfont.eot');
    src: url('../fonts/geometricslabserif/geometricslabserif-medium-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometricslabserif/geometricslabserif-medium-italic-webfont-webfont.woff') format('woff'),
         url('../fonts/geometricslabserif/geometricslabserif-medium-italic-webfont-webfont.ttf') format('truetype'),
         url('../fonts/geometricslabserif/geometricslabserif-medium-italic-webfont-webfont.svg#geoslb712_md_btmedium_italic') format('svg');
    font-weight: normal;
	font-style: normal;
}

/* FONT :: GEOMETRIC SLAB SERFB MEDIUM */
@font-face {
    font-family: 'geoslb712_md_btmedium';
    src: url('../fonts/geometricslabserif/geometricslabserif-medium-webfont-webfont.eot');
    src: url('../fonts/geometricslabserif/geometricslabserif-medium-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometricslabserif/geometricslabserif-medium-webfont-webfont.woff') format('woff'),
         url('../fonts/geometricslabserif/geometricslabserif-medium-webfont-webfont.ttf') format('truetype'),
         url('../fonts/geometricslabserif/geometricslabserif-medium-webfont-webfont.svg#geoslb712_md_btmedium') format('svg');
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'geoslab703_md_btbold';
    src: url('../fonts/geometricslabserif/geometric_slabserif_703_bold_bt.eot');
    src: url('../fonts/geometricslabserif/geometric_slabserif_703_bold_bt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometricslabserif/geometric_slabserif_703_bold_bt.woff') format('woff'),
         url('../fonts/geometricslabserif/geometric_slabserif_703_bold_bt.ttf') format('truetype'),
         url('../fonts/geometricslabserif/geometric_slabserif_703_bold_bt.svg#geoslab703_md_btbold') format('svg');
    font-weight: normal;
	font-style: normal;
}

/* FONT :: VARIABLE BLACK */
@font-face {
	font-family: 'Variable-Black';
	src: url('../fonts/variable/23991A_0_0.eot');
	src: url('../fonts/variable/23991A_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/variable/23991A_0_0.woff') format('woff'),
		 url('../fonts/variable/23991A_0_0.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}

/* ----------------------------- */
/* ==Icons */
/* ----------------------------- */

/* FONT :: ICONS EDUKERA */
@font-face {
    font-family: 'icons-edukera';
    src: url('../fonts/iconsedukera/icons-edukera-webfont.eot');
    src: url('../fonts/iconsedukera/icons-edukera-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/iconsedukera/icons-edukera-webfont.woff') format('woff'),
         url('../fonts/iconsedukera/icons-edukera-webfont.ttf') format('truetype'),
         url('../fonts/iconsedukera/icons-edukera-webfont.svg#webfontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon { display: inline-block; vertical-align:bottom;-moz-border-radius: 15%; -webkit-border-radius: 15%;  border-radius: 15%;}
[data-icon]:before { font-family: 'icons-edukera'; content: attr(data-icon); speak: none;}

.webfont-icon{line-height: 1.1em}

/* ICONS BACKGROUND */
.icon.bg-yellow { background-color: rgba(252, 238, 33, 1);}
.icon.bg-yellow .webfont-icon { color: rgba(51, 51, 51, 1);}

/* ICONS SIZE : 20 PIXEL */
.icon-20px { width: 20px; height: 20px;}
.icon-20px .webfont-icon{ font-size: 20px;}

/* ----------------------------- */
/* ==header/footer				 */
/* ----------------------------- */

/* header/footer :: structure */
#header,
#footer{
	width: 100%;
	min-width: 1024px;
	height: 70px;
	position: fixed;
	z-index: 100;
}

/* header/footer :: menu */
.menu{
	color: rgba(255,255,255,1);
    font-family: 'geoslb712_md_btmedium', serif;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-size: 16px;
}
.menu .item{
	display: inline-block;
	margin-right: 50px;
	-moz-transition: color 0.15s linear;
	-webkit-transition: color 0.15s linear;
			transition: color 0.15s linear
}
.menu .item.blue{
	color: rgba(0,172,231,1);
}
.menu .item.blue:hover,
.menu .item.blue:focus{
	color: rgba(0,172,231,1);
}
.menu .item:hover,
.menu .item:focus{
	color: rgba(255,255,255,0.6);
}

/* header */
#header{
	top: 0;
	background: #333333;
	background: -moz-linear-gradient(top,  #333333 0%, #333333 68%, #191919 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(68%,#333333), color-stop(100%,#191919));
	background: -webkit-linear-gradient(top,  #333333 0%,#333333 68%,#191919 100%);
	background: -o-linear-gradient(top,  #333333 0%,#333333 68%,#191919 100%);
	background: -ms-linear-gradient(top,  #333333 0%,#333333 68%,#191919 100%);
	background: linear-gradient(to bottom,  #333333 0%,#333333 68%,#191919 100%);
	border-bottom:1px solid rgba(13,134,201,1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
			box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
}
#header .header-logo{
	background-image: url(../img/logo-edukera.svg);
	overflow: hidden;
	width: 210px;
	height: 45px;
	background-repeat: no-repeat;
	background-size: 15em;
	background-position: 0 -20px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

#header .header-logo.qedumath {
	background-image: url(../img/logo-qedumath.svg);
	background-position: 15px 5px;
	width: 225px;
	height: 45px;
}

#header .menu{
	display: inline-block;
	margin: 25px 0 0 80px;
}

/* footer */
#footer{
	bottom: 0;
	padding: 0 20px;
	background: #2e2e2e;
	background: -moz-linear-gradient(top, #2e2e2e 0%, #2e2e2e 54%, #1a1a1a 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(54%,#2e2e2e), color-stop(99%,#1a1a1a));
	background: -webkit-linear-gradient(top, #2e2e2e 0%,#2e2e2e 54%,#1a1a1a 99%);
	background: -o-linear-gradient(top, #2e2e2e 0%,#2e2e2e 54%,#1a1a1a 99%);
	background: -ms-linear-gradient(top, #2e2e2e 0%,#2e2e2e 54%,#1a1a1a 99%);
	background: linear-gradient(to bottom, #2e2e2e 0%,#2e2e2e 54%,#1a1a1a 99%);
	border-top: 1px solid rgba(13,134,201,1);
	-moz-box-shadow: 0px -1px 0px 0px rgba(101,101,101,1);
	-webkit-box-shadow: 0px -1px 0px 0px rgba(101,101,101,1);
			box-shadow: 0px -1px 0px 0px rgba(101,101,101,1);
}
#footer .menu{
	display: block;
	margin-top: 23px;
}
#footer .author{
	text-align: right;
	display: block;
	font-size: 11px;
	color: rgba(13,134,201,1);
	margin-top: -5px;
}

/* ----------------------------- */
/* ==connect               	     */
/* ----------------------------- */

/*connect :: structure */
#connect{
	/*width: 300px;*/
	width: 330px;
	background-color: rgba(20,34,51,0.8);
	position: absolute;
	top: 50%;
	/*margin-top: -70px;*/
	margin-top: -90px;
	/*margin-right: 150px;*/
	/*margin-right: 100px;*/
	margin-right: 20px;
	right: 0;
	z-index: 99;
	/*padding: 15px 20px 5px 20px;*/
	padding: 25px 20px 15px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
		    border-radius: 10px;

}
/*connect :: header */
#connect-header{
	font-family: 'droidsans', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	margin-bottom: 15px;
	display: block;
}
/*connect :: buttons */
#connect .bt{
	display: block;
	/*width: 250px;*/
	width: 290px;
	/*padding: 8px;*/
	padding: 12px;
	margin-bottom: 15px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
		    border-radius: 7px;
	font-family: 'droidsans-bold';
	background-color: rgba(68,95,118,1);
	font-weight: normal;
	font-style: normal;
	-moz-transition: background 0.15s linear;
	-webkit-transition: background 0.15s linear;
			transition: background 0.15s linear
}
/*connect :: buttons icons */
#connect .icon{
	width: 30px;
	height: 30px;
	font-size: 23px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background-color: rgba(255,255,255,1);
	color: rgba(68,95,118,1);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
		    border-radius: 50%;
}
/*connect :: buttons title */
#connect .title{
	display: inline-block;
	vertical-align: text-top;
	font-size: 15px;
	margin-left: 10px;
}
/*connect :: buttons facebook */
#connect .bt.facebook .icon{
	padding-top: 2px;
}
#connect .bt.facebook:hover,
#connect .bt.facebook:focus{
	background-color: rgba(59,89,152,1);
}
#connect .bt.facebook:hover .icon,
#connect .bt.facebook:focus .icon{
	color: rgba(59,89,152,1);
}
/*connect :: buttons google */
#connect .bt.google .icon{
	padding-top: 3px;
}
#connect .bt.google:hover,
#connect .bt.google:focus{
	background-color: rgba(66,127,237,1);
}
#connect .bt.google:hover .icon,
#connect .bt.google:focus .icon{
	color: rgba(66,127,237,1);
}

/* ----------------------------- */
/* ==learn more               	 */
/* ----------------------------- */

/*learnmore :: structure */

.learnmore{
	position: absolute;
	height: 40px;
	display: block;
	top: 440px;
	margin-left: 15px;
	opacity: 0;
	min-width: 300px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
		    border-radius: 10px;
}
/*learnmore :: wrapper */
.learnmore .wrapper{
	height: 40px;
	display: inline-block;
	padding: 8px 8px;
	vertical-align: top;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
			transition: all 0.15s linear
}
/*learnmore :: title */
.learnmore .title{
	font-family: 'droidsans', sans-serif;
	font-weight: normal;
	font-style: normal;
}
/*learnmore :: wrapper left */
.learnmore .left{
	background-color: rgba(12,30,47,0.6);
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
		 border-radius: 10px 0 0 10px;
}
/*learnmore :: wrapper left title */
.learnmore .left .title{
	font-size: 16px;
	margin: 0 7px;
}
/*learnmore :: wrapper left title/icon */
.learnmore .left .title,
.learnmore .left .icon{
	vertical-align: middle;
	display: inline-block;
}
/*learnmore :: wrapper right title */
.learnmore .right .title{
	font-size: 13px;
	vertical-algin: middle;
	display: inline-block;
	margin-top: 3px;
}
/*learnmore :: wrapper right */
.learnmore .right{
	margin-left: -4px;
	background-color:rgba(12,30,47,0.65);
	border-left: 1px solid rgba(12,30,47,1);
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
			border-radius: 0px 10px 10px 0px;
}
/*learnmore :: wrapper right hover/focus*/
.learnmore .left:hover,
.learnmore .left:focus,
.learnmore .right:hover,
.learnmore .right:focus{
	background-color: rgba(20,34,51,0.9);
	color: rgba(252,238,33,1);
}

/* ----------------------------- */
/* ==slider 			         */
/* ----------------------------- */

/* slider navigation */
#slider-nav{
	position: fixed;
	bottom: 100px;
	right: 0;
	z-index: 100;
	margin-right: 15px;
	background: transparent;
}
#slider-nav .wrapper{
	width: 100px;
	height: 50px;
	position: relative;
}
#slider-nav .webfont-icon{
	position:relative;
	font-size: 40px;
	display: inline-block;
	vertical-align: top;
	color: rgba(0, 172, 231, 1);
	cursor: pointer;
	text-shadow: 1px 1px 8px rgba(0,0,0,0.35);
	background-color: transparent;
	-moz-transition: color 0.15s linear;
	-webkit-transition: color 0.15s linear;
			transition: color 0.15s linear
}
#slider-nav .webfont-icon:hover,
#slider-nav .webfont-icon:focus{
	color: rgba(0, 172, 231, 0.5);
}

/* slider structure */
#slider{
	min-width: 1024px;
	overflow: hidden;
	position: relative;
	margin-top: 70px;
	width: 100%;
	background:url(../img/loader.gif) no-repeat center center #163B53;
}
#slider article{
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
		 background-size: cover;
	min-width: 1024px;
	position: relative;
	width: 100%;
}
#slider article > div{
	position: relative;
	margin: 0 auto;
	width: 1224px;
}

/* slider :: generic */
#slider .generic h1{
	color:#FFF;
	font-family: 'Variable-Black', sans-serif;
    font-weight: normal;
	font-style: normal;
	/*font-size:56px;*/
	font-size: 66px;
	/*left:5.8%;*/
	left:-20%;
	line-height: 1.2em;
	position: absolute;
	text-shadow: 1px 1px 10px #333;
	/*top: 35px;*/
	top: -15px;
	/*width: 555px;*/
	width: 50%;
	opacity: 0;
}
#slider.lang-fr .generic h1{
	font-size: 54px;
	top: -10px;
}
#slider .generic h1 .yellow{
	color: rgba(252,238,33,1);
    font-weight: normal;
	font-style: normal;
}

#slider .generic .learnmore{
	left: 30%;
	top: 490px;
}

/* slider :: custom */
#slider .custom-shell h1,
#slider .custom-pise h1{
	color: #FFF;
	font-family: 'Variable-Black';
    font-weight: normal;
	font-style: normal;
	/*font-size: 57px;*/
	font-size: 66px;
	position: absolute;
	right: 0;
	top: 15px;
}
#slider.lang-fr .custom-shell h1{
	font-size: 62px !important;
}
#slider.lang-fr .custom-pise h1{
	font-size: 62px;
}

#slider .custom{
	height:500px;
}
#slider .custom img{
	position: absolute;
}

/* slider :: tour de Pise */
#slider article.custom-pise{
	background-image:url('../img/slider/slidePise-bg.jpg');
	background-position:center bottom;
}
#slider article.custom-pise h1{
	/*right: 10%;*/
	right:-10%;
	opacity:0;
	/*top: -210px;*/
	top: -55%;
	margin-right: -50px;
}
#slider article.custom-pise .learnmore{
	top: 400px;
}
#slider article.custom-pise .custom img:nth-child(1){
	bottom: 0px;
	left: 13%;
	width: 220px;
}
#slider article.custom-pise .custom img:nth-child(2){
	bottom: 10px;
	/*left: 13%;*/
	left:10%;
	margin-left:145px;
	opacity:0;
	width: 265px;
}
#slider article.custom-pise .custom img:nth-child(3){
	left: 17%;
	/*left:37%*/
	top: 105px;
	opacity:0;
	width: 210px;
	margin-left: 45px;

}

/* slider :: coquillage */
#slider article.custom-shell{
	background-image:url('../img/slider/slideShell-bg.jpg');
}

#slider article.custom-shell h1{
	right: 30%;
	opacity:0;
	/*right:5%*/
	top: -10%;
	margin-right: -50px;
}
#slider article.custom-shell .custom img:nth-child(1){
	top: 60px;
	left: 5%;
	width: 635px;
	margin-top: -35px;
}
#slider article.custom-shell .custom img:nth-child(2){
	top: 55px;
	/*left: 2%;*/
	left:-2%;
	opacity:0;
	width: 256px;
	margin-top: -35px;
}
#slider article.custom-shell .custom img:nth-child(3){
	left: 5%;
	margin-left: 369px;
	top: 93px;
	opacity: 0;
	width: 244px;
	margin-top: -35px;
}
#slider article.custom-shell .custom img:nth-child(4){
	bottom: 0px;
	/*left: 31%;*/
	left:55%;
	opacity:0;
	width: 243px;
	margin-left: 45px;
	margin-top: -35px;
}

#slider article.custom-shell .learnmore{
	top: 540px;
	margin-top: -35px;
}


/* ----------------------------- */
/* ==vertical responsive          */
/* ----------------------------- */

@media (max-height :1140px) {
	/* slider tour de pise */
	#slider article.custom-pise h1{
		top: -40%;
	}
}
@media (max-height :910px) {
	/* slider tour de pise */
	#slider article.custom-pise h1{
		top: -22%;
	}
	#slider article.custom-pise .custom img:nth-child(1){
		width: 195px;
	}
	#slider article.custom-pise .custom img:nth-child(2){
		width: 235px;
		margin-left: 125px;
	}
	#slider article.custom-pise .custom img:nth-child(3){
		width: 200px;
		margin-left: 25px;
		top: 140px;
	}
}

@media (max-height :770px) {
	/* box de connexion */
	#connect{
		width: 300px;
		margin-right: 140px;
		padding: 15px 20px 5px 20px;
	}
	#connect .bt{
		width: 260px; padding: 8px;
	}
	/* slider générique */
	#slider .generic h1	{
		font-size: 56px;
		top: 35px;
		line-height: 1.3em;
	}
	#slider.lang-fr .generic h1	{
		font-size: 46px;
		top: 35px;
		line-height: 1.3em;
	}
	#slider .generic .learnmore{
		top: 440px;
	}
	/* slider coquillage */
	#slider article.custom-shell h1{
		right: 30%;
		opacity:0;
		/*right:5%*/
		top: 5%;
		margin-right: -50px;
		font-size: 62px;
	}
	#slider.lang-fr article.custom-shell h1	{
		font-size: 56px;
	}

	#slider article.custom-shell .custom img:nth-child(1){
		top: 60px;
		left: 5%;
		width: 535px;
		margin-top: -10px;
	}
	#slider article.custom-shell .custom img:nth-child(2){
		top: 95px;
		/*left: 2%;*/
		left:-2%;
		opacity:0;
		width: 216px;
		margin-top: -10px;
	}
	#slider article.custom-shell .custom img:nth-child(3){
		left: 5%;
		margin-left: 311px;
		top: 89px;
		opacity:0;
		width: 207px;
		margin-top: -10px;
	}
	#slider article.custom-shell .custom img:nth-child(4){
		bottom: 30px;
		/*left: 31%;*/
		left:55%;
		opacity:0;
		width: 203px;
		margin-top: -10px;
	}
	#slider article.custom-shell .learnmore{
		top: 445px;
		margin-top: 0px;
	}
	/* slider tour de pise */
	#slider article.custom-pise h1{
		top: -3%;
		font-size: 62px;
	}
	#slider.lang-fr article.custom-pise h1{
		font-size: 57px;
	}
	#slider article.custom-pise .custom img:nth-child(1){
		width: 165px;
	}
	#slider article.custom-pise .custom img:nth-child(2){
		width: 200px;
		margin-left: 100px;
	}
	#slider article.custom-pise .custom img:nth-child(3) {
		width: 195px;
		margin-left: 10px;
		top: 180px;
	}
}

@media (max-height :670px) {
	/* slider tour de pise */
	#slider article.custom-pise h1{
		top: 5%;
	}
	#slider article.custom-pise .custom img:nth-child(1){
		width: 155px;
	}
	#slider article.custom-pise .custom img:nth-child(2){
		width: 190px;
		margin-left: 90px;
	}
	#slider article.custom-pise .custom img:nth-child(3) {
		width: 185px;
		margin-left: 0px;
		top: 220px;
	}

}

@media (max-height : 630px) {
	/* slider navigation gauche/droite */
	#slider-nav{
		top: 460px;
	}
	/* slider structuce */
	#slider article > div{
		width: 1024px;
	}
	/* scrollbar */
	body {
		/*overflow: visible;
		overflow-x: hidden;*/
	}
	/* box de connexion */
	#connect{
		top: 0px;
		margin-top: 220px;
	}
	/* bouton learnmore */
	.learnmore{
		top: 355px;
	}
	/* titre langue française */
	#slider.lang-fr .custom-shell h1,
	#slider.lang-fr .custom-pise h1{
		font-size: 52px !important;
	}
	/* slider générique */
	#slider.lang-fr .generic h1{
		font-size: 40px !important;
		top: 25px !important;
	}
	#slider .generic h1{
		font-size: 46px;
		top: 40px;
	}
	#slider .generic .learnmore{
		top: 340px;
	}
	/* slider coquillage */
	#slider article.custom-shell h1{
		top: 30px  !important;
		font-size: 50px  !important;
	}
	#slider article.custom-shell .learnmore{
		top: 370px !important;
	}
	#slider article.custom-shell .custom img:nth-child(1){
		top: 35px !important;
		width: 450px  !important;
		margin-left: 40px  !important;
		margin-top: 0px !important;
	}
	#slider article.custom-shell .custom img:nth-child(2){
		top: 54px !important;
		width: 175px !important;
		margin-left: 40px !important;
		margin-top: 0px !important;
	}
	#slider article.custom-shell .custom img:nth-child(3){
		top: 64px !important;
		width: 165px !important;
		left: 1% !important;
		margin-left: 351px !important;
		margin-top: 0px !important;
	}
	#slider article.custom-shell .custom img:nth-child(4){
		bottom: 155px !important;
		width: 150px !important;
		margin-left: 40px !important;
		margin-top: 0px !important;
	}
	/* slider tour de pise */
	#slider article.custom-pise h1{
		top: 20px;
		font-size: 50px;
		/*margin-top: -20px;*/
	}
	#slider article.custom-pise .custom img:nth-child(1){
		bottom: 65px;
		width: 145px;
	}
	#slider article.custom-pise .custom img:nth-child(2) {
		width: 170px;
		margin-left: 80px;
		bottom: 83px;
	}
	#slider article.custom-pise .custom img:nth-child(3) {
		width: 180px;
		margin-left: -25px;
		top: 150px;
	}
	#slider article.custom-pise .learnmore {
		top: 360px;
	}
}

/* ----------------------------- */
/* ==horizontal responsive       */
/* ----------------------------- */

@media (max-width : 1224px ) {

	#slider.lang-fr .custom-pise h1{
		font-size: 60px;
	}
	/* slider générique */
	#slider.lang-fr .generic h1{
		font-size: 45px;
		top: 35px;
		line-height: 1.3em;
	}
	/* box de connexion */
	#connect{
		width: 300px !important;
		margin-right: 115px !important;
		padding: 15px 20px 5px 20px !important;
	}
	#connect .bt{
		width: 260px !important;
		padding: 8px !important;
	}
	/* slider structure */
	#slider article > div{
		width: 1024px;
	}
	/* slider coquillage */
	#slider.lang-fr article.custom-shell h1	{
		top: 2% !important;
		font-size: 52px !important;
	}
	#slider article.custom-shell h1{
		right: 30%;
		opacity:0;
		/*right:5%*/
		top: 5%;
		margin-right: -25px;
		font-size: 58px;
	}
	#slider article.custom-shell .custom img:nth-child(1){
		top: 60px;
		left: 5%;
		width: 535px;
		margin-top: -10px;
	}
	#slider article.custom-shell .custom img:nth-child(2){
		top: 95px;
		/*left: 2%;*/
		left:-2%;
		opacity:0;
		width: 216px;
		margin-top: -10px;
	}
	#slider article.custom-shell .custom img:nth-child(3){
		left: 5%;
		margin-left: 311px;
		top: 89px;
		opacity:0;
		width: 207px;
		margin-top: -10px;
	}
	#slider article.custom-shell .custom img:nth-child(4){
		bottom: 30px;
		/*left: 31%;*/
		left:55%;
		opacity:0;
		width: 203px;
		margin-top: -10px;
	}
	#slider article.custom-shell .learnmore{
		top: 445px;
		margin-top: 0px;
	}
}

@media (max-width : 1024px) {
	/* body scrollbar */
	body {
		/*overflow: visible;
		overflow-x: hidden;*/
	}
}




